@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Bold.ttf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham';
	src: url('../fonts/gothamhtf-book-webfont.ttf');
	font-weight: normal;
	font-style: normal;
}

body {
	background: #989898;
	font-family: Roboto;
}

h2 {
	font-size: 22px;
	margin-bottom: 15px;
}

header {
	background-image: linear-gradient(#7951A8, #69369E);
	height: 100px;
	width: 100%;
	display: grid;
	grid-template-columns: .3fr .7fr);
}

header>h1 {
	font: 40px Gotham;
	color: #DCDCDC;
	margin-left: 105px;
	box-sizing: border-box; 
	line-height: 100px;
	vertical-align: middle;
	grid-column-start: 1;
	grid-column-end: 2;
}

header>h1>a {
	color: #DCDCDC;
	text-decoration: none;
}

header>h1>a:hover {
	color: #DCDCDC;
	text-decoration: none;
}

nav {
	grid-column-start: 2;
	grid-column-end: 3;
	justify-self: end;
	margin-right: 105px;
	line-height: 100px;
	vertical-align: middle;
}

nav > ul > li {
	display: inline-block;
}

nav > ul > li > a{
	color: #DCDCDC;
	border-right: 1px dotted #DCDCDC;
	padding: 10px;
	transition: all .7s ease-in-out;
	-moz-transition: all .7s ease-in-out;
	-webkit-transition: all .7s ease-in-out;
}
nav > ul > li > a:hover{
	color: #69369E;
	background-color: #DCDCDC;
}

nav > ul > li:last-child > a {
	border-right: 0;
}


footer {
	position: absolute;
	bottom: 0;
	background: #989898;
	width: 100%;
}

footer>p {
	color: #69369E;
	margin: 20px auto;
	text-align: center;
}

p {
	font-size: 18px;
	margin-bottom: 12px;
}

.container {
	width: 84%;
	margin: 20px auto;
	color: #69369E;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th, td {
	border: 2px solid #69369E;
	padding: 20px;
	width: 10em;
}

th {
	font-size: 18px;
	font-weight: bold;
	background: #69369E;
	color:#DCDCDC;
}

td>a {
	color: #DCDCDC;
	background-color: #69369E;
	text-decoration: none;
	padding: 10px 20px;
	border-radius: .2em;
	transition: all .7s ease-in-out;
	-moz-transition: all .7s ease-in-out;
	-webkit-transition: all .7s ease-in-out;
}

td>a:hover {
	color: #69369E;
	background-color: #DCDCDC;
}

a {
	color: #69369E;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: #7951A8;
	text-decoration: underline;
}

.right {
	float: right;
}

.right::after{
	clear: both;
}
.center {
	width: 2em;
	text-align: center;
}

hr {
	border: 1px dotted #69369E;
}

.box-form {
	background: #656565;
	border-radius: .2em;
	box-shadow: 5px 5px 25px #595959;
	color: #DCDCDC;
	padding: 20px 0;
	width: 100%;
}

label {
	font-size: 20px;
	margin: 40px 0 80px 90px ; 
}

input {
	background-color: transparent;
	border: 0;
	border-bottom: 2px solid #DCDCDC;
	color: #DCDCDC;
	display: block;
	font-size: 18px;
	padding: 10px 20px;
	width: 80%;
	margin: 30px auto;
}

input::placeholder {
	color: #DCDCDC;
	opacity: .4;
}

button {
	background-color: #69369E;
	border: 0;
	border-radius: .2em;
	color: #DCDCDC;
	cursor: pointer;
	font-size: 18px;
	padding: 10px 20px;
	position: relative;
	left: 80%;
	transition: all .7s ease-in-out;
	-moz-transition: all .7s ease-in-out;
	-webkit-transition: all .7s ease-in-out;
}

button:hover {
	color: #7951A8;
	background-color: #DCDCDC;
}